//   font-family: "alternate-gothic-no-1-d";

// 	Light		"brandon-grotesque"	300	normal
// 	Light Italic	"brandon-grotesque"	300	italic
// 	Medium	"brandon-grotesque"	500	normal
// 	Bold		"brandon-grotesque"	700	normal

@mixin font-bold {
	font-family: "brandon-grotesque";
	font-weight: 500;
	font-style: normal;
}

@mixin font-normal {
	font-family: "brandon-grotesque";
	font-weight: 300;
	font-style: normal;
}

@mixin font-italic {
	font-family: "brandon-grotesque";
	font-weight: 500;
	font-style: italic;
}
@mixin font-ultra {
	font-family: "brandon-grotesque";
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}
@mixin font-condensed {
	font-family: "acumin-pro-extra-condensed";
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.1em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.button {
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: rem-calc(14);
	&:hover {
		text-decoration: none;
	}
}
.tabs-content > .content-wrapper {
  display: none;
  opacity: 0; }
.tabs-content > .content.active .content-wrapper {
  display: block;
  -webkit-animation: fadeIn 2.5s;
  animation: fadeIn 2.5s;
  opacity: 1; }
  .tabs dd>a, .tabs .tab-title>a {
  	font-weight: 500;
  	letter-spacing: 0.2em;
  	text-decoration: none;
  	&:hover, &.active {
  		font-weight: 500;
  		letter-spacing: 0.2em;
  		text-decoration: none;
  	}
  }
  .tabs dd.active a,  .tabs dd a, .tabs .tab-title.active a, .tabs .tab-title a {
  	&:focus {
  		outline: none;
  	}
  }
.menu-logo {
	width: rem-calc(40);
	margin-right: rem-calc(10);
	padding-right: rem-calc(10);
	border-right: 1px solid $jet;
}
p.lead {
	font-size: 130%;
}
hr.header-hr {
 	border-color: $oil;
 	margin-bottom: rem-calc(60);
}
.vcard {
	background: rgba(255,255,255,0.7);
	width:100%;
	hr {
		border-color: $jet
	}
}
.vcard-link {
	color: $primary-color;
	font-weight:500;
	line-height:1,8;
}
.top-bar-section {
	li {
		border-bottom: solid 2px $white;
		&:hover, &.active {
			border-bottom: solid 2px $primary-color;
		}
		a {
			&:hover, &.active {
				text-decoration: none;
			}
		}
	}
}
.top-bar .name h1 a {
	&:hover {
		text-decoration: none;
	}
}
$section-padding: rem-calc(80);

.top-bar-section ul li > a {
	letter-spacing: 0.1em;
}
.visably-hide {
	@media #{$small-only} {
		display: none;
	}
}
header {
	padding: $section-padding * 6 0;
	// background: url('/img/header.jpg') no-repeat;
	// background-position: center;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
	@media #{$small-only} {
		padding: $section-padding * 2.3 0;
	}
	@media #{$medium-only} {
		padding: $section-padding * 5 0;
	}
}
.section__content {
	padding: $section-padding 0;
	@media #{$small-only} {
		padding: $section-padding / 2 0;
	}
}
.section__welcome {
	padding-bottom: 0;
}
.section__sutsyouth {
	background: $primary-color;
	color: $white;
	.section--heading {
		color: $white;
	}
	.button {
		background: $primary-color;
		color: $white;
		border: 2px $white solid;
		text-decoration: none;
		&:hover, &:focus{
			background: $white;
			color: $primary-color;
		}
	}
}
.section__sutskids {

}

.section__missionaries, .section__contact {
	margin: $section-padding 0;
	// background-image: url('/img/clouds.jpg') no-repeat;
	// background-position: center;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
	.section--heading {
		display: inline-block;
		padding: rem-calc(10) rem-calc(20);
		color: $jet;
		border: 5px solid $jet;
	}
}
.section__venue {
	padding-bottom: 0;
}
.section__contact {
 	padding: $section-padding 0;
 	margin:0;
}
.summer-evenings-images {
	@media #{$small-only} {
		margin-bottom: rem-calc(40);
	}
}
.missionary--container {
	background: $white;
}
.subtitle__title {
	margin-bottom: rem-calc(40);
}
.missionary--bio {
	padding: rem-calc(4) rem-calc(20);
}
.missionary--title {
	@include font-condensed;
	font-size: rem-calc(28);
	margin-top: rem-calc(16);
}
.missionary--bio {
	padding-bottom: rem-calc(20);
}
.section--headingwrapper {
	@extend .text-center;
	margin-bottom: rem-calc(80);
	@media #{$small-only} {
		margin-bottom: rem-calc(40);
	}
}
.section--heading {
	display: inline-block;
	letter-spacing: 0.2em;
	padding: rem-calc(10) rem-calc(60);
	color: $jet;
	border: 3px solid $jet;
	@media #{$small-only} {
		padding: rem-calc(10) rem-calc(20);
		font-size: rem-calc(18);
	}
	&.pricing-header {
		line-height: 1;
	}
	span.small-heading {
		font-family: "acumin-pro-extra-condensed";
		color: $jet;
		font-size: 60%;
		letter-spacing: 0.3em;
	}

}
.section__sponsors {
	background: $silver;
	h3 {
		@include font-condensed;
		font-size: rem-calc(32);
		margin-top: rem-calc(16);
		margin-bottom: rem-calc(40);
		text-align: left;
		border-bottom: 1px solid $jet;

	}
	h4 {
		@include font-condensed;
		font-size: rem-calc(24);
		margin-top: 0;
		margin-bottom: rem-calc(16);
		text-align: left;
		a {
			font-family: $font-family-sans-serif;
			font-weight: 300;
			font-style: italic;
			color: $jet;
			font-size: rem-calc(16);
			text-transform: lowercase;
		}
	}
	p {
		font-size: rem-calc(16);
		line-height: rem-calc(20);
	}
	.sponsor__svg {
		max-height: rem-calc(80);
		max-width: rem-calc(130);
		margin-top: rem-calc(20);
		@media #{$small-only} {
			margin-top: rem-calc(40);
			margin-bottom: rem-calc(20);

		}
	}
}
.sponsor__row {
	margin-bottom: rem-calc(40);
}
.gold-sponsor-image {
	a {
		display: block;
		@media #{$small-only} {
			text-align: center;
		}
	}
	@media #{$small-only} {
		margin-bottom: rem-calc(20);
	}
	img {
		@media #{$small-only} {
			width:100%;
		}
	}
}
#map {
  width: 100%;
  height: 600px;
  margin-top: 40px;
}

.bio--image {
	border-radius: 100%;
	width: rem-calc(180);
	height: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: rem-calc(60);
	border: 10px solid $secondary-color;
}
.bio--title {
	@include font-condensed;
	font-size: rem-calc(32);
}

h1, h2, h3, h4, h5, h6 {
	@include font-ultra;
	text-align: center;
}
.name h1 {
	text-align: left;
}
.site-title {
	color: $white;
	font-size: rem-calc(92);
	line-height:1;
	margin-bottom: rem-calc(30);
	@media #{$small-only} {
		font-size: rem-calc(40);
	}
}
.sub-title {
	color: $white;
	@include font-condensed;
	font-size: rem-calc(26);
	@media #{$small-only} {
		font-size: rem-calc(28);
	}
}
.banner-image {
	margin-top: rem-calc(120);
}
.title-lead {
	@include font-condensed;
	font-size: rem-calc(40);
	@media #{$small-only} {
		font-size: rem-calc(20);
	}
}
.heading__accomodation {
	margin-top: rem-calc(60);
}
.tab-title {
	width: 25%;
	text-align: center;
	border:1px solid $white;
}
.schedule__text {
	p {
		font-size: rem-calc(16);
		margin-bottom: rem-calc(10);
	}
}
.schedule__title {
	display: block;
	text-align: center;
	width: 400px;
	max-width: 80%;
	padding-bottom: rem-calc(20);
	margin: 0 auto;
	margin-top: rem-calc(40);
	margin-bottom: rem-calc(40);
	border-bottom: 3px solid $jet;
}
.schedule__subtitle {
	text-align: left;
	letter-spacing: 0.1em;
	font-size: rem-calc(16);
	margin-bottom: rem-calc(10);
	margin-top: rem-calc(20);
	padding-bottom: 0;
	&:first-of-type {
		margin-top: 0;
	}
}
.site-credit {
	color: $jet;
	border: 1px dotted $white;
	&:hover {
		border-color: $jet;
		text-decoration: none;
	}
}